:root {
    --text-xs: 1.2rem;
    --text-sm: 1.5rem;
    --text-md: 2.4rem;
    --text-lg: 4.8rem;
    --text-xl: 5.2rem;
    --text-2xl: 6rem;
    --text-3xl: 8.3rem;
    --text-4xl: 14.4rem;
}

p {
    line-height: 2.1rem;
}

.headline {
    line-height: 3.6rem;
}

.section-first__content--logo {
    width: 20.7%;
    padding: 4.3rem 0 0 8.4rem;
}

.section-first__content{
    width: 79.3%;
}

.section-first__content--headlines {
    padding: 30.2rem 15.2rem 0 0;
    align-items: end;
}

.section-first__headline--one {
    margin-left: 1.6rem;
}

.section-first__headline--two{
    line-height: 5rem;
}

.headline-two__item--one {
    line-height: 10.8rem;
}

.headline-two__item--two{
    margin-left: -1.6rem;
}

.section-first__btn{
    margin: -4rem 0 0 0rem;
}

.section-second {
    top: -32rem;
}

.section-second__content {
    align-items: end;
    padding: 0rem 22rem 18rem 0;
}

.section-third {
    gap: 0rem;
}

.section-third__img {
    top: -33rem;
}

.section-third__content--info {
    max-width: 57rem;
    margin-top: -24rem;
    width: 100%;
    padding-bottom: 2rem;
}

.section-third__content--items {
    padding-right: 9.4rem;
}

.section-third__content--items {
    margin-top: 6.6rem;
}

.headline__section--fifth {
    line-height: 5rem;
}

.section-fifth__img {
    left: 56.5rem;
    max-width: 92rem;
}