.section-first {
    flex-direction: row;
}

.section-first__content--logo {
    width: 20.7%;
    padding: 4.3rem 0 0 4.3rem;
}

.content__logo {
    max-width: 10rem;
}

.section-first__content{
    width: 79.3%;
}

.section-first__content--headlines {
    padding: 30% 15.2rem 0 0;
    align-items: end; 
}

.section-second__content {
    padding: 4rem 12rem 0 0;
}

.section-second__paragraph {
    margin-top: 2.7rem;
}

.section-third__img img {
    max-width: 78.6rem;
    width: 100%;
}

.headline__section-third {
    margin: 0.8rem 0.4rem 0 0;
}

.content__sections--gray {
    padding-top: 6.5rem;
}

.section-fourth {
    align-items: start;
    justify-content: space-between;
}

.section-fourth__content--headline img {
    max-width: 13.4rem;
}

.headline__section-fourth {
    padding-top: 11.8rem;
}

.section-fourth__img {
    width: 100%;
}

.headline__section-fourth {
    max-width: 48rem;
}

.section-fourth__paragraph {
    max-width: 35.7rem;
}

.section-fifth__content {
    height: 692px;
    width: 905px;
    padding: 10.1rem 0 0 14.9rem;
}
.section-fifth {
    margin-top: 12rem;
}

.section-fifth__img {
    left: 50%;
    max-width: 80rem;
}

.section-fifth__form {
    gap: 1.6rem;
}

.input{
    height: 4rem;
    width: 41rem;
}

.section-fifth__content--form {
    padding: 0;
}

.section-fifth__footer {
    height: 12rem;
}