* {    
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: 'Sf-ns-display';
    src: url('../fonts/SFNS-Display-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Montserrat-semibold';
    src: url('../fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

:root {
    --white-bg: #F8F8F8;
    --gray-bg: #EFEFEF;
    --black: #4A4A4A;
    --calcite: #FFFFFF;
    --light-blue: #3DC0CB;
    --medium-blue: #009FDC;
    --strong-blue: #0D2643;
    --very-strong-blue: #0A1525;
    --font-primary: 'Montserrat';
    --font-primary-semibold: 'Montserrat-semibold';
    --font-primary-bold: 'Montserrat-bold';
    --font-secondary: 'Sf-ns-display';
    --text-xs: 1rem;
    --text-sm: 1.3rem;
    --text-md: 1.4rem;
    --text-lg: 2.8rem;
    --text-xl: 3.2rem;
    --text-2xl: 4rem;
    --text-3xl: 6.3rem;
    --text-4xl: 10rem;
}

p {
    font-size: var(--text-xs);
    font-family: var(--font-secondary);
    color: var(--black);
    line-height: 2.1rem;
}

.container {
    max-width: 1536px;
    margin: auto;
    box-shadow: 0 11px 18px 0 rgba(0,0,0,0.34);
}

.headline {
    font-family: var(--font-primary-bold);
    color: var(--black);
    font-size: var(--text-lg);
    line-height: 2.6rem;
}

.headline--uppercase {
    text-transform: uppercase;
}

.headline__item span{
    font-family: var(--font-secondary);
    font-size: var(--text-md);
}

.section-first {
    display: flex;
    background-color: var(--white-bg);
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.section-first__content--logo {
    width: 100%;
    padding: 1.2rem;
}

.content__logo {
    max-width: 4rem;
}

.section-first__content{
    position: relative;
    width: 100%;
}

.section-first__content--headlines{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30% 0.8rem 0 0;
}

.section-first__headlines {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.section-first__headline--one {
    font-family: var(--font-secondary);
    font-size: var(--text-xl);
    margin-left: 1.6rem;
    color: var(--calcite);
}

.section-first__headline--two{
    font-size: var(--text-xl);
    display: flex;
    vertical-align: top;
    line-height: 3.6rem;
    color: var(--calcite);
}

.headline-two__item--one {
    font-size: var(--text-4xl);
    line-height: 7.8rem;
}

.headline-two__item--two{
    font-family: var(--font-primary-semibold);
}

/*  */

.section-second {
    position: relative;
    top: -2rem;
}

.section-second__content {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding-top: 4rem;
}

.section-second__img img {
    box-shadow: 0 11px 18px 0 rgba(0,0,0,0.34);
} 


.section-second__content--info{
    width: 80%;
    position: relative;
    z-index: 322;
}

/*  */

.section-third {
    position: relative;
}

.section-third__img {
    position: relative;
    top: -3rem;
    left: 0;
    z-index: -2;
    max-width: 78.6rem;
    width: 100%;
}

.section-third__content {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.section-third__content--info {
    max-width: 57rem;
    width: 100%;
}

.section-third__content--headline {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.section-third__content--headline img{
    max-width: 25.2rem;
    width: 36%;
}

.headline__section-third {
    font-size: var(--text-2xl);
    line-height: 3rem;
    margin: -1.2rem .4rem 0 0;
}

.section-third__content--items {
    padding-right: 1.2rem;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 0rem;
}

.section-third__content--items hr {
    margin-top: 3.6rem;
    margin-bottom: 3rem;
    border: .5px solid #DBDBDB;
}

.content__items {
    width: 100%;
    display: flex;
    gap: 1.6rem;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: .4rem;
}

.item__img {
    width: 10.5rem;
}

.item__title {
    font-family: var(--font-primary-bold);
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: 2.7rem;
}

.item__title--light-blue {
    color: var(--light-blue);
}

.item p {
    line-height: 2.5rem;
    margin-top: .8rem;
    text-align: center;
}

/*  */

.content__sections--gray{
    width: 100%;
    padding-top: 6.5rem;
    background: linear-gradient(-27deg, var(--gray-bg) 70%,  var(--white-bg) 70%, transparent 70%);
    position: relative;
}

.section-fourth {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.section-fourth__content {
    max-width: 69.1rem;
    width: 100%;
}

.section-fourth__content--headline {
    display: flex;
    align-items: start;
    width: 100%;
}

.section-fourth__content--headline img {
    max-width: 6.4rem;
}

.headline__section-fourth {
    padding-top: 4.6rem;
    padding-left: 0.8rem;
    max-width: 36rem;
    width: 80%;
}

.section-fourth__img {
    max-width: 74.9rem;
    width: 90%;
    margin: 3.6rem 0;
}

.section-fourth__paragraph {
    margin-top: 2.8rem;
    width: 100%;
}

/*  */

.section-fifth {
    position: relative;
    overflow: hidden;
}

.section-fifth__img {
    width: 100%;
    position: absolute;
    bottom: -1.8rem;
    left: 40rem;
    max-width: 56.3rem;
}

.section-fifth__content {
    max-width: 90.5rem;
    background: linear-gradient(312.51deg, #3DC0CB 0%, #0AA4D9 22.04%, #0F4B90 82.79%, #122336 100%);
}

.section-fifth__content--form {
    padding: 2rem;
    width: 100%;
    max-width: 46.2rem;
}

.section-fifth__footer {
    background-color: var( --strong-blue);
    height: 3.6rem;
}

.headline__section--fifth {
    color: var(--calcite);
    font-size: var(--text-3xl);
    line-height: 3.6rem;
    text-align: center;
}

.headline__section--fifth span{
    color: var(--calcite);
    font-size: var(--text-lg);
}

.section-fifth__content--form p{
    color: var(--calcite);
    line-height: 2.5rem;
    text-align: center;
    margin-top: 2.6rem;
}

.section-fifth__form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.input{
    box-sizing: border-box;
    height: 3.6rem;
    max-width: 41rem;
    width: 100%;
    border: .2rem solid var(--calcite);
    border-radius: 2.5rem;
    background-color: transparent;
    padding: 1.1rem 3rem;
    color: var(--calcite);
    font-family: var(--font-primary-bold);
    font-size: var(--text-xs);
}

.input::placeholder{
    color: var(--calcite);
    font-family: var(--font-primary-bold);
    font-size: var(--text-xs);
}

/*  */

.btn {
    font-family: var(--font-primary-bold);
    font-size: var(--text-sm);
    min-height: 4rem;
    min-width: 22rem;
    border: none;
    border-radius: 1.7rem;
    cursor: pointer;
    display: grid;
    place-items: center;
    text-decoration: none;
    text-transform: uppercase;
    
}

.btn:hover {
    opacity: .8;
}

.section-first__btn{
    background-color: var(--calcite);
    color: var(--medium-blue);
}

.section-second__btn {
    background-color: var(--light-blue);
    color: var(--calcite);
    margin-top: 2.1rem;
}

.section-fourth__btn {
    background-color: var(--medium-blue);
    color: var(--calcite);
    margin-top: 2.1rem;
}

.section-fifth__btn {
    max-width: 41rem;
    width: 100%;
    background-color: var(--calcite);
    color: var(--light-blue);
    margin-top: .4rem;
}

.footer {
    height: 7rem;
    background-color: var(--very-strong-blue);
    color: var(--calcite);
    font-family: var(--font-secondary);
    font-size: var(--text-xs);
    display: grid;
    place-items: center;
    text-align: center;
}  