.content__logo {
    max-width: 6rem;
}

.section-second {
    top: -6rem;
}

.section-third {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.section-third__img {
    position: relative;
    top: 0rem;
    width: 65%;
}

.section-third__img img{
    position: absolute;
    top: -7rem;
    right: 0rem;
    width: 54rem;
}

.section-third__content {
    margin-top: -0rem;
}

.section-third__content--info {
    width: 100%;
}

.content__sections--gray {
    padding-top: 4rem;
}

.section-fourth {
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    padding-bottom: 4rem;
}

.section-fourth__img {
    margin: 0rem;
    width: 90%;
}

.section-fourth__content--headline img {
    max-width: 9.4rem;
}

.section-fifth__content {
    width: 80%;
    border-radius: 0 60px 60px 0;
}

.section-fifth__content--form {
    padding: 6rem 6rem;
    width: 100%;
    max-width: 46.2rem;
}

.section-fifth__img {
    left: 35rem;
    max-width: 70rem;
}

.section-fifth__footer {
    height: 6rem;
}