.section-first__btn{
    margin: -3rem 0 0 0rem;
}
.section-second {
    top: -18rem;
}

.section-second__content {
    align-items: center;
}

.section-second__content--info {
    width: 80%;
    max-width: 35.7rem;
}

.section-third__img {
    top: -19rem;
    width: 80%;
}

.section-third__content {
    margin-top: -18rem;
}

.section-fourth__img {
    width: 70%;
}
